body {
    background-color: white;
}

.go1 {
    text-align: center;
    font-size: 80px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.go2 {
    text-align: center;
    font-size: 42px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.come1 {
    display: block;
    margin: 0 auto;
    width: 82%;
    height: auto;
    border-radius: 22px;
}

.come2 {
    display: block;
    margin: 0 auto;
    width: 82%;
    height: auto;
    border-radius: 22px;
}

.come3 {
    display: block;
    margin: 0 auto;
    width: 82%;
    height: auto;
    border-radius: 22px;
}

.go3 {
    text-align: center;
    font-size: 42px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.come4 {
    display: block;
    margin: 0 auto;
    width: 82%;
    height: auto;
    border-radius: 22px;
}

.come5 {
    display: block;
    margin: 0 auto;
    width: 82%;
    height: auto;
    border-radius: 22px;
}

.come6 {
    display: block;
    margin: 0 auto;
    width: 82%;
    height: auto;
    border-radius: 22px;
}

.go4 {
    text-align: center;
    font-size: 42px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.come7 {
    display: block;
    margin: 0 auto;
    width: 82%;
    height: auto;
    border-radius: 22px;
}

.come8 {
    display: block;
    margin: 0 auto;
    width: 82%;
    height: auto;
    border-radius: 22px;
}

.come9 {
    display: block;
    margin: 0 auto;
    width: 82%;
    height: auto;
    border-radius: 22px;
}

.go5 {
    text-align: center;
    font-size: 42px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.come10 {
    display: block;
    margin: 0 auto;
    width: 82%;
    height: auto;
    border-radius: 22px;
}

.come11 {
    display: block;
    margin: 0 auto;
    width: 82%;
    height: auto;
    border-radius: 22px;
}

.come12 {
    display: block;
    margin: 0 auto;
    width: 82%;
    height: auto;
    border-radius: 22px;
}

.come13 {
    display: block;
    margin: 0 auto;
    width: 82%;
    height: auto;
    border-radius: 22px;
}

.come14 {
    display: block;
    margin: 0 auto;
    width: 82%;
    height: auto;
    border-radius: 22px;
}

.come15 {
    display: block;
    margin: 0 auto;
    width: 82%;
    height: auto;
    border-radius: 22px;
}

.go6 {
    text-align: center;
    font-size: 30px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.go7 {
    text-align: center;
    font-size: 45px;
    color: rgb(17, 112, 255);
    font-family: 'Courier New', Courier, monospace;
}